<% if logged_in? %>
  <form method="GET" action="/users/<%= current_user.id %>">
    <input class="myButton" type="submit" value="<%= current_user.username %>"/>
  </form>
<% end %>
<form method="GET" action="/">
  <input class="myButton" type="submit" value="Scry"/>
</form>

<h1>Leaderboard</h1>
<ul>
  <% @users.each_with_index do |user, index| %>
    <li><%= index + 1 %></li>
    <li><%= user.username %></li>
    <li><%= user.score %></li>
  <% end %>
</ul>
